<template>
  <div class="v-exercise-details">

    <div class="d-flex align-center mb-4">
      <h5 class="text-h5 flex-fill">
        Basic Information
      </h5>
      <v-chip class="ma-2" color="green" label v-if="!exerciseId">
        <b>New</b>
      </v-chip>
      <v-chip class="ma-2" color="yellow" label v-if="isFormDirty">
        <b>Modified</b>
      </v-chip>
      <v-chip class="ma-2" color="blue" label v-if="exerciseId && !isFormDirty">
        <b>Saved</b>
      </v-chip>
    </div>

    <v-form class="mb-4" ref="formRef">
      <v-text-field
          type="text"
          label="Name"
          :rules="[
            (value: string) => value.trim() !== '' || 'No name given'
          ]"
          v-model="exercise.name"
      />
      <v-text-field
          type="number"
          label="Max Weight"
          suffix="Kg"
          :rules="[
            (value: string) => parseFloat(value) > 0 || 'Weight not valid'
          ]"
          v-model="exercise.initialWeight"
      />
      <v-text-field
          type="number"
          label="Scaling Percentage"
          suffix="%"
          :rules="[
            (value: string) => parseFloat(value) > 0 || 'Scaling Percentage is not valid'
          ]"
          v-model="exercise.scalePercentage"
      />
      <div class="d-flex">
        <v-btn class="flex-fill mr-1" @click="submitBasicInformation()">
          Save
        </v-btn>
        <v-btn class="flex-fill ml-1" @click="resetExerciseInformation()">
          Reset
        </v-btn>
      </div>
    </v-form>

    <v-snackbar close-delay="3000" v-model="showSaveMessage">
      Information saved successfully
      <template v-slot:actions>
        <v-btn
            color="pink"
            variant="text"
            @click="toggleSavedMessage(false)"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <div v-if="exerciseId">
      <h5 class="text-h5 mb-4">
        Tracking Entries
      </h5>
      <exercise-tracking-list :allow-delete="true" :exercise-id="exerciseId"/>
    </div>

  </div>
</template>

<script lang="ts" setup>
import {useRoute, useRouter} from "vue-router";
import {computed, onMounted, ref} from "vue";

// Config
import { RouteNames } from "../config/router.config";

// Components
import ExerciseTrackingList from "../components/exercise-tracking-list.component.vue";

// Models
import { Exercise } from "../models/exercise.model";

// Stores
import { ExercisesStoreActions, ExercisesStoreSelectors } from "../stores/exercises.store";

const route = useRoute();
const router = useRouter()

const exercise = ref<Exercise>(new Exercise());
const formRef = ref();
const showSaveMessage = ref(false);

const exerciseId = computed(() => route.params.exerciseId as string);
const isFormDirty = computed(() => {
  if (!exerciseId.value) {
    return false;
  }

  const originalExercise = ExercisesStoreSelectors.getExerciseById(exerciseId.value);
  const currentExercise = exercise.value;

  return currentExercise.name !== originalExercise!.name ||
      currentExercise.initialWeight !== originalExercise!.initialWeight ||
      currentExercise.scalePercentage !== originalExercise!.scalePercentage;
});

onMounted(() => resetExerciseInformation());

const resetExerciseInformation = () => {
  if (exerciseId.value) {
    const selectedExercise = ExercisesStoreSelectors.getExerciseById(exerciseId.value);
    exercise.value = selectedExercise!.clone();
  } else {
    exercise.value = new Exercise();
  }
}
const submitBasicInformation = () => {
  formRef.value?.validate()
      .then(({ valid }: { valid: boolean }) => {
        if (valid) {
          ExercisesStoreActions.saveExercise(exercise.value);
          toggleSavedMessage(true);
          router.replace({ name: RouteNames.ExerciseDetails, params: { exerciseId: exercise.value.id }});
        }
      });
};
const toggleSavedMessage = (show?: boolean) => {
  showSaveMessage.value = typeof show === 'boolean' ? show : !showSaveMessage.value;
}
</script>

<style lang="scss">
.v-exercise-details {
  padding: 1rem;
}
</style>
