<template>
  <div class="v-settings">

    <!-- Exercises -->
    <h5 class="text-h5 mb-4">
      Exercises
    </h5>
    <import-exercises-dialog/>
    <v-btn class="mb-2" block prepend-icon="mdi-swap-vertical" @click="exportData()">
      Export
    </v-btn>
    <v-btn class="mb-2" block prepend-icon="mdi-plus" :to="{ name: RouteNames.ExerciseDetails }">
      Add
    </v-btn>
    <exercise-settings
        class="mb-2"
        v-for="exercise in ExercisesStoreState.exercises"
        :exercise-id="exercise.id || ''"
        :key="exercise.name"
    />
    <p class="text-center font-weight-bold my-8" v-if="ExercisesStoreState.exercises.length === 0">
      No exercises to show
    </p>

    <!--  Configuration  -->
    <h5 class="text-h5 mt-8 mb-4">
      Configuration
    </h5>
    <v-text-field
        type="number"
        label="BB percentage"
        suffix="%"
        v-model.number="ConfigurationStoreState.bbPercentage"
    />
    <v-text-field
        type="number"
        label="Minimum weight"
        suffix="Kg"
        v-model.number="ConfigurationStoreState.minimumWeight"
    />
    <v-text-field
        type="number"
        label="Minimum bar weight"
        suffix="Kg"
        v-model.number="ConfigurationStoreState.minimumBarWeight"
    />

    <p class="w-100 pa-2 text-center text-overline text-medium-emphasis">
      Version: {{ version }}
    </p>
  </div>
</template>

<script lang="ts" setup>
import moment from 'moment';

// Components
import ExerciseSettings from '../components/exercise-settings.component.vue';
import ImportExercisesDialog from '../components/import-exercises-dialog.component.vue';

// Config
import { RouteNames } from "../config/router.config.js";

// Stores
import { ConfigurationStoreState } from "../stores/configuration.store.js";
import { ExercisesStoreState } from "../stores/exercises.store";
import { TrackingStoreSelectors } from "../stores/tracking.store";

const version = APP_VERSION;

const exportData = () => {
  const data = ExercisesStoreState.exercises.map(exercise => {
    const exerciseTracking = TrackingStoreSelectors.getExerciseTrackingById(exercise.id as string);

    return {
      name: exercise.name,
      initialWeight: exercise.initialWeight,
      tracking: exerciseTracking
    }
  });
  const currentDate = moment();
  const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data, null, 2));
  const dlAnchorElem = document.createElement('a');
  dlAnchorElem.setAttribute("href",     dataStr     );
  dlAnchorElem.setAttribute("download", `workout-data-${currentDate.format('DD-MM-YYYY-HH-mm-ss')}.json`);
  document.body.appendChild(dlAnchorElem);
  dlAnchorElem.click();
  document.body.removeChild(dlAnchorElem);
}
</script>

<style lang="scss">
.v-settings {
padding: 1rem;
}
</style>
