<template>
  <div class="v-stats">
    <exercise-stats
        class="mb-2"
        v-for="exercise in ExercisesStoreState.exercises"
        :exercise-id="exercise.id || ''"
        :key="exercise.id"
    />

    <no-exercises-prompt/>
  </div>
</template>

<script lang="ts" setup>
// Components
import ExerciseStats from '../components/exercise-stats.component.vue';
import NoExercisesPrompt from '../components/no-exercises-prompt.component.vue';

// Stores
import { ExercisesStoreState } from "../stores/exercises.store";
</script>

<style lang="scss">
.v-stats {
  padding: 1rem;
}
</style>
