<template>
<div class="v-workout">
  <v-select
      label="Workout week"
      :items="weekOptions"
      v-model.number="ConfigurationStoreState.currentWeek"
  />

  <v-expansion-panels>
    <v-expansion-panel v-for="exercise in exercises" :key="exercise.id" :title="exercise.name">
      <v-expansion-panel-text>
        <workout-exercise :exercise-id="exercise.id" :workout-week="ConfigurationStoreState.currentWeek"/>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>

  <no-exercises-prompt/>
</div>
</template>

<script lang="ts" setup>
// Components
import NoExercisesPrompt from '../components/no-exercises-prompt.component.vue';
import WorkoutExercise from '../components/workout-exercise.component.vue';

// Models
import { WorkoutWeek } from '../models/weeks.enum';

// Stores
import { ConfigurationStoreState } from "../stores/configuration.store.js";
import { ExercisesStoreState } from "../stores/exercises.store";

const weekOptions = [
  {
    title: 'Week 3x5',
    value: WorkoutWeek.ThreeTimesFive
  },
  {
    title: 'Week 3x3',
    value: WorkoutWeek.ThreeTimesThree
  },
  {
    title: 'Week 5/3/1',
    value: WorkoutWeek.FiveThreeOne
  },
  {
    title: 'Deload',
    value: WorkoutWeek.Deload
  }
];

const exercises = ExercisesStoreState.exercises;
</script>

<style lang="scss">
.v-workout {
  padding: 1rem;
}
</style>
