<template>
  <v-btn icon variant="plain" size="x-small" @click="show = !show">
    <v-icon icon="mdi-close"/>
    <v-dialog v-model="show">
      <v-card>
        <v-card-title>
          Are you sure?
        </v-card-title>
        <v-card-text>
          Deleting this entry will remove it from the tracking.
        </v-card-text>
        <v-card-actions>
          <v-btn @click="confirm()">
            Confirm
          </v-btn>
          <v-btn @click="show = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

// Stores
import { TrackingStoreActions } from "../stores/tracking.store";

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  },
  trackingIndex: {
    type: Number,
    required: true
  }
});

const show = ref(false);

function confirm() {
  TrackingStoreActions.deleteExerciseTrackingEntry(props.exerciseId, props.trackingIndex);
  show.value = false;
}
</script>
