<template>
  <v-btn prepend-icon="mdi-delete" @click="show = !show">
    Delete

    <v-dialog v-model="show">
      <v-card>
        <v-card-title>
          Are you sure?
        </v-card-title>
        <v-card-text>
          Deleting this exercise will remove all associated data as well.
        </v-card-text>
        <v-card-actions>
          <v-btn @click="confirm()">
            Confirm
          </v-btn>
          <v-btn @click="show = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

// Stores
import { ExercisesStoreActions } from "../stores/exercises.store";
import { TrackingStoreActions } from "../stores/tracking.store";

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  }
});

const show = ref(false);

function confirm() {
  ExercisesStoreActions.deleteExercise(props.exerciseId);
  TrackingStoreActions.deleteExerciseTracking(props.exerciseId);
  show.value = false;
}
</script>
