<template>
  <div class="c-exercise-tracking-chart">
    <Line
        :chart-data="chartSettings.data"
        :chart-options="chartSettings.options"
        v-if="tracking.length > 0"
    />
    <p class="text-center" v-else>
      No results to show yet
    </p>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { TChartData, TChartOptions } from 'vue-chartjs/dist/types';
import moment from 'moment'

// Components
import { Line } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  LineElement,
  LinearScale,
  PointElement,
  CategoryScale,
  Plugin
} from 'chart.js'

// Models
import { Tracking } from '../models/tracking.model';

// Stores
import { ExercisesStoreSelectors } from "../stores/exercises.store";
import { TrackingStoreSelectors } from "../stores/tracking.store";

// Utils
import { getMaxRep } from "../utils/weight-helpers";

ChartJS.register(
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale
);

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  }
});

const exercise = computed(() =>  ExercisesStoreSelectors.getExerciseById(props.exerciseId));
const tracking = computed(() => TrackingStoreSelectors.getExerciseTrackingById(props.exerciseId));

// @ts-ignore
const chartSettings = computed<{ data: TChartData<'line'>, options: TChartOptions<any>}>(() => {
  if (tracking) {
    return {
      data: {
        datasets: [
          {
            data: tracking.value.map((entry: Tracking) => ({
              x: moment(entry.date).valueOf(),
              y: getMaxRep(entry.weight, entry.reps)
            })),
            borderColor: 'rgb(75, 192, 192)',
          }
        ]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        responsive: true,
        scales: {
          x: {
            ticks: {
              callback: (value: number) => {
                return moment(value).format('DD/MMM');
              }
            },
            type: 'linear',
          },
          y: {
            title: {
              display: true,
              text: '1 RM (Kg)'
            }
          }
        }
      }
    }
  }

  return {};
});
</script>

<style lang="scss">
.c-exercise-tracking-chart {
  padding: 0.5rem;
  background-color: #343434;
  border-radius: 0.25rem;
}
</style>
