<template>
  <v-card>
    <v-card-title>
      {{ exercise.name }}
    </v-card-title>
    <v-card-actions>
      <v-btn
          prepend-icon="mdi-pencil"
          :to="{ name: RouteNames.ExerciseDetails, params: { exerciseId: props.exerciseId }}">
        Edit
      </v-btn>
      <delete-exercise-dialog :exercise-id="exercise.id || ''"/>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

// Config
import { RouteNames } from "../config/router.config.js";

// Components
import DeleteExerciseDialog from './delete-exercise-dialog.component.vue';

// Models
import { Exercise } from "../models/exercise.model";

// Stores
import { ExercisesStoreSelectors } from "../stores/exercises.store";

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  }
});

const exercise = computed(() => ExercisesStoreSelectors.getExerciseById(props.exerciseId) as Exercise);
</script>
