<template>
  <v-card>
    <v-toolbar color="rgba(0, 0, 0, 0)">
      <v-toolbar-title>
        {{ exercise.name }}
      </v-toolbar-title>

      <template v-slot:append>
        <v-btn
            :icon="showList ? 'mdi-chart-line-variant' : 'mdi-format-list-bulleted'"
            @click="toggleListView()"
        />
      </template>
    </v-toolbar>

    <v-card-text>
      <div class="mb-4" v-if="lastTracking">
        <p>
          <b>Last result</b>: {{ `${lastTracking.reps} reps at ${lastTracking.weight} Kg` }}
        </p>
        <p>
          <b>Current 1 RM</b>: {{ getMaxRep(lastTracking.weight, lastTracking.reps) + ' Kg' }}
        </p>
      </div>

      <exercise-tracking-chart :exercise-id="props.exerciseId" v-if="!showList"/>
      <exercise-tracking-list :exercise-id="props.exerciseId" v-else/>

    </v-card-text>
  </v-card>
</template>

<script lang="ts" setup>
import {computed, ref} from 'vue';

// Components
import ExerciseTrackingChart from './exercise-tracking-chart.component.vue';
import ExerciseTrackingList from './exercise-tracking-list.component.vue';

// Models
import { Exercise } from "../models/exercise.model";

// Stores
import { ExercisesStoreSelectors } from "../stores/exercises.store";
import { TrackingStoreSelectors } from "../stores/tracking.store";

// Utils
import { getMaxRep } from "../utils/weight-helpers";

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  }
});

const showList = ref(false);

const exercise = computed(() =>  ExercisesStoreSelectors.getExerciseById(props.exerciseId) as Exercise);
const lastTracking = computed(() => TrackingStoreSelectors.getLastTrackingByExerciseId(props.exerciseId));

const toggleListView = () => {
  showList.value = !showList.value;
}
</script>
