<template>
<div class="c-exercise-tracking-list" v-if="tracking">
  <v-table v-if="tracking.length > 0">
    <thead>
    <tr>
      <th>
        Week
      </th>
      <th>
        Weight
      </th>
      <th>
        Reps
      </th>
      <th>
        Date
      </th>
      <th v-if="props.allowDelete"></th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="(entry, index) in tracking" :key="entry.date">
        <td>
          {{ getWorkoutDescription(entry.week) }}
        </td>
        <td>
          {{ entry.weight }}
        </td>
        <td>
          {{ entry.reps }}
        </td>
        <td>
          {{ moment(entry.date).format('DD MMM') }}
        </td>
        <td v-if="props.allowDelete">
          <delete-tracking-dialog
              :exercise-id="props.exerciseId"
              :tracking-index="index"
          />
        </td>
      </tr>
    </tbody>
  </v-table>
  <p class="text-center" v-else>
    No results to show yet
  </p>
</div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import moment from 'moment'

// Components
import DeleteTrackingDialog from './delete-tracking-dialog.component.vue';

// Models
import { getWorkoutDescription } from "../models/weeks.enum";

// Stores
import { ExercisesStoreSelectors } from "../stores/exercises.store";
import { TrackingStoreSelectors } from "../stores/tracking.store";

const props = defineProps({
  allowDelete: {
    type: Boolean,
    default: false
  },
  exerciseId: {
    type: String,
    required: true
  }
});

const exercise = computed(() =>  ExercisesStoreSelectors.getExerciseById(props.exerciseId));
const tracking = computed(() => TrackingStoreSelectors.getExerciseTrackingById(props.exerciseId));
</script>
