<template>
  <v-btn class="mb-2" block prepend-icon="mdi-swap-vertical" @click="show = !show">
    Import

    <v-dialog v-model="show">
      <v-card>
        <v-card-title>
          Import exercises
        </v-card-title>
        <v-card-text>
          <p class="mb-2">Select the file with the exercise data you wish to import:</p>
          <v-file-input
              class="mb-4"
              accept=".json"
              label="File input"
              :hide-details="true"
              v-model="files"
              @update:modelValue="handleFileInputChange"
          />
          <div v-for="exercise in exercises" :key="exercise.name">
            <v-divider class="mb-4"/>
            <h5>
              {{ exercise.name }}
            </h5>
            <p>
              <b>Initial Weight:</b>
              {{ exercise.initialWeight }}
            </p>
            <p>
              <b>Tracking:</b>
              {{ `${exercise.tracking.length} entries` }}
            </p>
          </div>
          <v-alert type="error" v-if="error">
            There was error importing you data
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="confirm()">
            Confirm
          </v-btn>
          <v-btn @click="show = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

// Models
import { Exercise } from '../models/exercise.model';
import { WorkoutWeek } from '../models/weeks.enum';

// Stores
import { ExercisesStoreActions } from "../stores/exercises.store";
import { TrackingStoreActions } from "../stores/tracking.store";

interface ExtendedExercise extends Exercise {
  tracking: {
    weight: number;
    reps: number;
    date: string;
    week: WorkoutWeek
  }[];
}

const show = ref(false);
const files = ref<File[]>();
const exercises = ref<ExtendedExercise[]>([]);
const error = ref(false);

function handleFileInputChange() {
  error.value = false;

  if (files.value?.length) {
    const reader = new FileReader();

    reader.addEventListener('loadend', () => {
      try {
        const data = JSON.parse(reader.result as string);

        exercises.value = data.map((entry: any) => ({
          name: entry.name,
          initialWeight: entry.initialWeight,
          tracking: entry.tracking
        }));
      }
      catch (ex) {
        exercises.value = [];
        files.value = undefined;
        error.value = true;
      }
    });

    reader.readAsText(files.value[0]);
  }
}
function confirm() {
  exercises.value.forEach(exercise => {
    const newExerciseInstance = Exercise.parseExerciseData(exercise);
    ExercisesStoreActions.saveExercise(newExerciseInstance);

    exercise.tracking.forEach(tracking => {
      TrackingStoreActions.registerResults({
        ...tracking,
        exerciseId: newExerciseInstance.id
      })
    });
  });

  show.value = false;
}
</script>

<style scoped>

</style>
