<template>
  <v-bottom-navigation :model-value="route.fullPath" color="primary">
    <v-btn v-for="link in links" :value="link.url" :to="link.url" style="flex: 1">
      <v-icon>{{link.icon}}</v-icon>
      {{ link.label }}
    </v-btn>
  </v-bottom-navigation>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';

const route = useRoute();

const links = [
  {
    label: 'Workout',
    icon: 'mdi-dumbbell',
    url: '/workout',
  },
  {
    label: 'Stats',
    icon: 'mdi-chart-line',
    url: '/stats',
  },
  {
    label: 'Settings',
    icon: 'mdi-cog',
    url: '/settings',
  }
];
</script>
