<template>
  <div class="c-no-exercises-prompt" v-if="ExercisesStoreState.exercises.length === 0">
    <p class="text-center mb-4">No exercises to show. Click below to go to settings and register your exercises</p>
    <v-btn to="/settings">
      Settings
    </v-btn>
  </div>
</template>

<script lang="ts" setup>
// Stores
import { ExercisesStoreState } from "../stores/exercises.store";
</script>

<style lang="scss">
.c-no-exercises-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
</style>
