<template>
  <v-btn variant="tonal" prepend-icon="mdi-plus-box" @click="toggleDialog()">
    Register Result

    <v-dialog v-model="show">
      <v-card>
        <v-card-title>
          Register result
        </v-card-title>
        <v-card-text>
          <v-form ref="formRef">
            <v-text-field
                type="number"
                label="Weight"
                suffix="Kg"
                :rules="[
                  (value: string) => parseFloat(value) > 0 || 'Weight not valid'
                ]"
                v-model.number="weight"
            />
            <v-text-field
                type="number"
                label="Total reps"
                :rules="[
                  (value: string) => parseInt(value) > 0 || 'Number of reps not valid'
                ]"
                v-model.number="reps"
            />
            <v-text-field
                type="date"
                label="Date"
                :rules="[
                  (value: string) => value !== '' || 'Date is not valid'
                ]"
                :max="moment().format(DATE_FORMAT)"
                v-model="date"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="submit()">
            Submit
          </v-btn>
          <v-btn @click="toggleDialog(false)">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-btn>
</template>

<script lang="ts" setup>
import moment from "moment";
import { PropType, ref } from 'vue';

// Models
import { WorkoutWeek } from '../models/weeks.enum';

// Stores
import { TrackingStoreActions } from "../stores/tracking.store";

const DATE_FORMAT = 'YYYY-MM-DD'

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  },
  currentWeight: {
    type: Number,
    required: true
  },
  currentWeek: {
    type: Number as PropType<WorkoutWeek>,
    required: true
  }
});

const formRef = ref(null);
const show = ref(false);
const weight = ref(0);
const reps = ref<number>();
const date = ref<string>();

function submit() {
  //@ts-ignore
  formRef.value?.validate()
      .then(({ valid }: { valid: boolean }) => {
        if (valid) {
          TrackingStoreActions.registerResults({
            exerciseId: props.exerciseId,
            weight: weight.value,
            reps: reps.value as number,
            date: moment(date.value, DATE_FORMAT).toString(),
            week: props.currentWeek
          });
          toggleDialog(false);
        }
      });
}
function toggleDialog(visible?: boolean) {
  show.value = typeof visible === 'boolean' ? visible : !show.value;

  // If dialog is opening, reset field values
  if (show.value) {
    weight.value = props.currentWeight;
    reps.value = undefined;
    date.value = moment().format(DATE_FORMAT);
  }
}
</script>
