<template>
  <div class="c-workout-exercise">

    <div class="c-workout-exercise-routine">
      <div class="c-workout-exercise-entry">
        <p class="c-workout-exercise-entry__value">
          {{ workout.bb }}
        </p>
        <b class="c-workout-exercise-entry__label">BB</b>
      </div>
      <div class="c-workout-exercise-entry">
        <p class="c-workout-exercise-entry__value d-flex align-center">
          <span>
            {{ workout.firstCore }}
          </span>
          <span class="text-caption mx-2"> - </span>
          <span>
            {{ workout.secondCore }}
          </span>
          <span class="text-caption mx-2"> - </span>
          <span>
            {{ workout.thirdCore }}
          </span>
        </p>
        <b class="c-workout-exercise-entry__label">Main</b>
      </div>
      <div class="c-workout-exercise-entry">
        <p class="c-workout-exercise-entry__value">
          {{ workout.repsToMax }}
        </p>
        <b class="c-workout-exercise-entry__label">To match</b>
      </div>
    </div>

    <div class="c-workout-exercise-last-tracking" v-if="lastTracking">
      <div class="d-flex">
        <h5 class="c-workout-exercise-last-tracking__title flex-fill">Last result</h5>
        <p class="c-workout-exercise-last-tracking__date">{{ `${moment(lastTracking.date).format('D MMMM')}` }}</p>
      </div>

      <v-divider class="my-2"/>

      <div class="c-workout-exercise-last-tracking__values">
        <div class="c-workout-exercise-entry">
          <p class="c-workout-exercise-entry__value">
            {{ lastTracking.reps }}
          </p>
          <b class="c-workout-exercise-entry__label">
            Reps
          </b>
        </div>
        <div class="c-workout-exercise-entry">
          <p class="c-workout-exercise-entry__value">
            {{ lastTracking.weight }}
            <span class="text-caption">
              Kg
            </span>
          </p>
          <b class="c-workout-exercise-entry__label">
            Weight
          </b>
        </div>
        <div class="c-workout-exercise-entry">
          <p class="c-workout-exercise-entry__value">
            {{ getMaxRep(lastTracking.weight, lastTracking.reps) }}
            <span class="text-caption">
              Kg
            </span>
          </p>
          <b class="c-workout-exercise-entry__label">
            1RM
          </b>
        </div>
      </div>
    </div>

    <exercise-tracking-chart class="c-workout-exercise__chart" :exercise-id="props.exerciseId" />

    <div class="c-workout-exercise__actions">
      <register-result-dialog
          class="mb-2"
          :exercise-id="exercise.id || ''"
          :current-weight="workout.thirdCore"
          :current-week="props.workoutWeek"
      />
      <v-btn variant="tonal" prepend-icon="mdi-text-box" :to="{ name: RouteNames.ExerciseDetails, params: { exerciseId: exercise.id }}">
        View exercise details
      </v-btn>
    </div>

  </div>
</template>

<script lang="ts" setup>
import moment from 'moment'
import { computed, PropType } from 'vue';

// Components
import ExerciseTrackingChart from './exercise-tracking-chart.component.vue';
import RegisterResultDialog from '../components/register-result-dialog.component.vue';

// Config
import { RouteNames } from "../config/router.config.js";

// Models
import { Exercise } from "../models/exercise.model";
import { WorkoutWeek } from '../models/weeks.enum';

// Stores
import { ExercisesStoreSelectors } from "../stores/exercises.store";
import { TrackingStoreSelectors } from "../stores/tracking.store";

// Utils
import { getMaxRep, getRepsToMaxRep, getWeightPerWeekAndSet } from "../utils/weight-helpers";

interface Workout {
  firstCore: number;
  secondCore: number;
  thirdCore: number;
  bb: number;
  repsToMax: number;
}

const props = defineProps({
  exerciseId: {
    type: String,
    required: true
  },
  workoutWeek: {
    type: Number as PropType<WorkoutWeek>,
    required: true
  }
});

const exercise = computed(() => ExercisesStoreSelectors.getExerciseById(props.exerciseId) as Exercise);
const lastTracking = computed(() => TrackingStoreSelectors.getLastTrackingByExerciseId(props.exerciseId));
const workout = computed<Workout>(() =>{
  const selectedExercise = exercise.value;

  let currentWeight = selectedExercise.initialWeight;

  // Check if user has tracking for the current exercise and take it into account
  const lastTracking = TrackingStoreSelectors.getLastTrackingByExerciseId(props.exerciseId, WorkoutWeek.FiveThreeOne);
  if (lastTracking) {
    currentWeight = getMaxRep(lastTracking.weight, lastTracking.reps);
  }

  const bb = getWeightPerWeekAndSet(currentWeight, selectedExercise.scalePercentage, 0, props.workoutWeek);
  const firstCore = getWeightPerWeekAndSet(currentWeight, selectedExercise.scalePercentage, 1, props.workoutWeek);
  const secondCore = getWeightPerWeekAndSet(currentWeight, selectedExercise.scalePercentage, 2, props.workoutWeek);
  const thirdCore = getWeightPerWeekAndSet(currentWeight, selectedExercise.scalePercentage, 3, props.workoutWeek);

  const repsToMax = getRepsToMaxRep(thirdCore, currentWeight);

  return {
    repsToMax,
    bb,
    firstCore,
    secondCore,
    thirdCore,
  }
});
</script>

<style lang="scss">
.c-workout-exercise {
  padding: 0.5rem 0;

  &__chart {
    margin: 1rem 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .c-workout-exercise-entry {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__value {
      font-size: 1.25rem;
    }

    &__label {
      color: rgba(255,255,255,0.6);
      font-size: 0.70rem;
    }
  }

  .c-workout-exercise-routine {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .c-workout-exercise-last-tracking {
    margin: 1rem 0;
    padding: 0.75rem;
    background-color: #343434;
    border-radius: 0.25rem;

    &__values {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__date {
      color: rgba(255,255,255,0.6);
      font-size: 0.8rem;
    }
  }

  .c-workout-exercise-last-tracking-max-rep {
    &__value {
      font-size: 1.5rem;
    }

    &__label {
      color: rgba(255,255,255,0.6);
      font-size: 0.75rem;
    }
  }
}
</style>
