<template>
  <v-layout>
    <v-main>
      <router-view v-slot="{ Component }">
        <Transition name="fade" mode="out-in">
          <component :is="Component"/>
        </Transition>
      </router-view>
    </v-main>
    <navbar/>
  </v-layout>
</template>

<script setup lang="ts">
import Navbar from './components/navbar.component.vue';
</script>
